In [1]:
#importing important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Importing Datasets

transaction_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Transaction.xlsx")
users_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/User.xlsx")
city_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/City.xlsx")
region_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Region.xlsx")
country_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Country.xlsx")
continent_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Continent.xlsx")
type_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Type.xlsx")
mode_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Mode.xlsx")
item_data=pd.read_excel("C:/Users/SESA742087/Documents/PERSONAL/WeekendClassFiles/TourismProjectIput/Item.xlsx")
transaction_data.head()

,TransactionId,UserId,VisitYear,VisitMonth,VisitMode,AttractionId,Rating
0,3,70456,2022,10,2,640,5
1,8,7567,2022,10,4,640,5
2,9,79069,2022,10,3,640,5
3,10,31019,2022,10,3,640,3
4,15,43611,2022,10,2,640,3

In [3]:
transaction_data.shape

(52930, 7)

In [4]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52930 entries, 0 to 52929
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionId  52930 non-null  int64
 1   UserId         52930 non-null  int64
 2   VisitYear      52930 non-null  int64
 3   VisitMonth     52930 non-null  int64
 4   VisitMode      52930 non-null  int64
 5   AttractionId   52930 non-null  int64
 6   Rating         52930 non-null  int64
dtypes: int64(7)
memory usage: 2.8 MB

In [5]:
transaction_data['VisitMode'].value_counts()

VisitMode
2    21620
3    15217
4    10945
5     4525
1      623
Name: count, dtype: int64

In [6]:
transaction_data['Rating'].value_counts()

Rating
5    23936
4    17966
3     7730
2     2035
1     1263
Name: count, dtype: int64

In [7]:
transaction_data.isnull().sum()

TransactionId    0
UserId           0
VisitYear        0
VisitMonth       0
VisitMode        0
AttractionId     0
Rating           0
dtype: int64

In [8]:
transaction_data.duplicated().sum()

0

In [9]:
users_data.head()

   UserId  ContenentId  RegionId  CountryId  CityId
0      14            5        20        155   220.0
1      16            3        14        101  3098.0
2      20            4        15        109  4303.0
3      23            1         4         22   154.0
4      25            3        14        101  3098.0

In [10]:
users_data.isnull().sum()

UserId         0
ContenentId    0
RegionId       0
CountryId      0
CityId         4
dtype: int64

In [11]:
users_data.shape

(33530, 5)

In [12]:
users_data.duplicated().sum()

0

In [13]:
city_data.shape

(9143, 3)

In [14]:
city_data.isnull().sum()

CityId       0
CityName     1
CountryId    0
dtype: int64

In [15]:
city_data.duplicated().sum()

0

In [16]:
region_data.head()

            Region  RegionId  ContentId
0                -         0          0
1   Central Africa         1          1
2      East Africa         2          1
3     North Africa         3          1
4  Southern Africa         4          1

In [17]:
region_data.isnull().sum()

Region       0
RegionId     0
ContentId    0
dtype: int64

In [18]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CountryId  165 non-null    int64
 1   Country    165 non-null    object
 2   RegionId   165 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.0+ KB

In [19]:
country_data.isnull().sum()

CountryId    0
Country      0
RegionId     0
dtype: int64

In [20]:
country_data.duplicated().sum()

0

In [21]:
continent_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ContenentId  6 non-null      int64
 1   Contenent    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [22]:
#CONVERTING DATA INTO DATAFRAMES
city_df=pd.DataFrame(city_data)
country_df=pd.DataFrame(country_data)
city_country_df=city_df.merge(country_df,on='CountryId',how='left')
city_country_df['CityName'].fillna('Unknown',inplace=True)
city_country_df.head()

C:\Users\SESA742087\AppData\Local\Temp\ipykernel_17440\3265868700.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  city_country_df['CityName'].fillna('Unknown',inplace=True)

   CityId      CityName  CountryId   Country  RegionId
0       0             -          0         -         0
1       1        Douala          1  Cameroon         1
2       2  South Region          1  Cameroon         1
3       3     N'Djamena          2      Chad         1
4       4        Kigali          3    Rwanda         1

In [23]:
city_country_df.isnull().sum()

CityId       0
CityName     0
CountryId    0
Country      0
RegionId     0
dtype: int64

In [24]:
#Merging Users , city & Transaction data
users_df=pd.DataFrame(users_data)
users_city_df=users_df.merge(city_country_df,on='CityId',how='left')
users_city_df.drop(columns=['RegionId_y','CountryId_y'],inplace=True)
users_city_df.rename(columns={'RegionId_x':'RegionId','CountryId_x':'CountryId'},inplace=True)
users_city_df.head()

   UserId  ContenentId  RegionId  CountryId  CityId    CityName       Country
0      14            5        20        155   220.0       Lagos       NIGERIA
1      16            3        14        101  3098.0     Jakarta     Indonesia
2      20            4        15        109  4303.0  Gold Coast     Australia
3      23            1         4         22   154.0    Meyerton  South Africa
4      25            3        14        101  3098.0     Jakarta     Indonesia

In [25]:
users_city_df.isnull().sum()

UserId         0
ContenentId    0
RegionId       0
CountryId      0
CityId         4
CityName       4
Country        4
dtype: int64

In [26]:
users_city_df.shape

(33530, 7)

In [27]:
users_city_df.dropna(subset=['CityId', 'CityName', 'Country'],inplace=True)

In [28]:
#Merging Transaction, attraction & users data
transaction_df=pd.DataFrame(transaction_data)
attraction_df=pd.DataFrame(type_data)
item_df=pd.DataFrame(item_data)
are_equal=attraction_df.equals(item_df)
print(are_equal)

False

In [29]:
attraction_df.head()

   AttractionTypeId         AttractionType
0                 2          Ancient Ruins
1                10                Ballets
2                13                Beaches
3                19        Caverns & Caves
4                34  Flea & Street Markets

In [30]:
item_df.head()

,AttractionId,AttractionCityId,AttractionTypeId,Attraction,AttractionAddress
0,369,1,13,Kuta Beach - Bali,Kuta
1,481,1,13,Nusa Dua Beach,"Semenanjung Nusa Dua, Nusa Dua 80517 Indonesia"
2,640,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia"
3,650,1,13,Sanur Beach,Sanur
4,673,1,13,Seminyak Beach,Seminyak

In [31]:
attraction_df.duplicated().sum()

0

In [32]:
item_df.duplicated().sum()

0

In [33]:
attraction_merged_df=item_df.merge(attraction_df,on='AttractionTypeId',how='left')
attraction_merged_df.head()

,AttractionId,AttractionCityId,AttractionTypeId,Attraction,AttractionAddress,AttractionType
0,369,1,13,Kuta Beach - Bali,Kuta,Beaches
1,481,1,13,Nusa Dua Beach,"Semenanjung Nusa Dua, Nusa Dua 80517 Indonesia",Beaches
2,640,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas
3,650,1,13,Sanur Beach,Sanur,Beaches
4,673,1,13,Seminyak Beach,Seminyak,Beaches

In [34]:
attraction_merged_df.isnull().sum()

AttractionId         0
AttractionCityId     0
AttractionTypeId     0
Attraction           0
AttractionAddress    0
AttractionType       0
dtype: int64

In [35]:
attraction_merged_df.duplicated().sum()

0

In [36]:
mode_df=pd.DataFrame(mode_data)
mode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   VisitModeId  6 non-null      int64
 1   VisitMode    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

In [37]:
#merging transaction & visit mode 

transaction_mode_df=pd.merge(transaction_df,mode_df,left_on='VisitMode',right_on='VisitModeId',how='left')
transaction_mode_df.isnull().sum()
transaction_mode_df.drop(columns=['VisitModeId'],inplace=True)
transaction_mode_df.rename(columns={'VisitMode_x':'VisitModeId','VisitMode_y':'VisitMode'},inplace=True)
transaction_mode_df.head()

,TransactionId,UserId,VisitYear,VisitMonth,VisitModeId,AttractionId,Rating,VisitMode
0,3,70456,2022,10,2,640,5,Couples
1,8,7567,2022,10,4,640,5,Friends
2,9,79069,2022,10,3,640,5,Family
3,10,31019,2022,10,3,640,3,Family
4,15,43611,2022,10,2,640,3,Couples

In [38]:
transaction_type_df=transaction_mode_df.merge(attraction_merged_df,on='AttractionId',how='left')
transaction_type_df.isnull().sum()

TransactionId        0
UserId               0
VisitYear            0
VisitMonth           0
VisitModeId          0
AttractionId         0
Rating               0
VisitMode            0
AttractionCityId     0
AttractionTypeId     0
Attraction           0
AttractionAddress    0
AttractionType       0
dtype: int64

In [39]:
transaction_type_df.duplicated().sum()

0

In [40]:
merged_df=transaction_type_df.merge(users_city_df,on='UserId',how='left')
merged_df.head()

,TransactionId,UserId,VisitYear,VisitMonth,VisitModeId,AttractionId,Rating,VisitMode,AttractionCityId,AttractionTypeId,Attraction,AttractionAddress,AttractionType,ContenentId,RegionId,CountryId,CityId,CityName,Country
0,3,70456,2022,10,2,640,5,Couples,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas,5.0,21.0,163.0,4341.0,Guildford,Australia
1,8,7567,2022,10,4,640,5,Friends,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas,2.0,8.0,48.0,464.0,Ontario,Canada
2,9,79069,2022,10,3,640,5,Family,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas,2.0,9.0,54.0,774.0,Brazil,United States
3,10,31019,2022,10,3,640,3,Family,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas,5.0,17.0,135.0,583.0,Zurich,Canada
4,15,43611,2022,10,2,640,3,Couples,1,63,Sacred Monkey Forest Sanctuary,"Jl. Monkey Forest, Ubud 80571 Indonesia",Nature & Wildlife Areas,5.0,21.0,163.0,1396.0,Manchester,United States

In [41]:

merged_df.dropna(subset=['CityId', 'CityName', 'Country','ContenentId','RegionId','CountryId'],inplace=True)
merged_df.isnull().sum()

TransactionId        0
UserId               0
VisitYear            0
VisitMonth           0
VisitModeId          0
AttractionId         0
Rating               0
VisitMode            0
AttractionCityId     0
AttractionTypeId     0
Attraction           0
AttractionAddress    0
AttractionType       0
ContenentId          0
RegionId             0
CountryId            0
CityId               0
CityName             0
Country              0
dtype: int64

In [42]:
average_rating_attraction=merged_df.groupby('AttractionId')['Rating'].mean().reset_index()
average_rating_attraction.columns=['AttractionId','AverageRatingforAttraction']

average_rating_user=merged_df.groupby('UserId')['Rating'].mean().reset_index()
average_rating_user.columns=['UserId','AveragrRatingbyUser']

most_freq_attraction=merged_df.groupby(['UserId','AttractionTypeId']).size().reset_index(name='count')
most_freq_attraction=most_freq_attraction.loc[most_freq_attraction.groupby('UserId')['count'].idxmax()]
most_freq_attraction=most_freq_attraction[['UserId','AttractionTypeId']]
most_freq_attraction.columns=['UserId','MostFreqAttractionType']

number_of_visits=merged_df.groupby('AttractionId').size().reset_index()
number_of_visits.columns=['AttractionId','number_of_visits']

merged_df=pd.merge(merged_df,average_rating_attraction,on='AttractionId',how='left')
merged_df=pd.merge(merged_df,average_rating_user,on='UserId',how='left')
merged_df=pd.merge(merged_df,most_freq_attraction,on='UserId',how='left')
merged_df=pd.merge(merged_df,number_of_visits,on='AttractionId',how='left')

def get_season(month):
    if month in[1,2,3]:
        return 'Spring'
    elif month in [4,5,6,7]:
        return 'Summer'
    elif month in [8,9,10]:
        return 'Monsoon'
    else:
        return 'Winter'
    
merged_df['season']=merged_df['VisitMonth'].apply(get_season)

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52922 entries, 0 to 52921
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TransactionId               52922 non-null  int64
 1   UserId                      52922 non-null  int64
 2   VisitYear                   52922 non-null  int64
 3   VisitMonth                  52922 non-null  int64
 4   VisitModeId                 52922 non-null  int64
 5   AttractionId                52922 non-null  int64
 6   Rating                      52922 non-null  int64
 7   VisitMode                   52922 non-null  object
 8   AttractionCityId            52922 non-null  int64
 9   AttractionTypeId            52922 non-null  int64
 10  Attraction                  52922 non-null  object
 11  AttractionAddress           52922 non-null  object
 12  AttractionType              52922 non-null  object
 13  ContenentId                 52922 non-null  float64
 14  RegionId                    52922 non-null  float64
 15  CountryId                   52922 non-null  float64
 16  CityId                      52922 non-null  float64
 17  CityName                    52922 non-null  object
 18  Country                     52922 non-null  object
 19  AverageRatingforAttraction  52922 non-null  float64
 20  AveragrRatingbyUser         52922 non-null  float64
 21  MostFreqAttractionType      52922 non-null  int64
 22  number_of_visits            52922 non-null  int64
 23  season                      52922 non-null  object
dtypes: float64(6), int64(11), object(7)
memory usage: 9.7+ MB

In [43]:
merged_df.isnull().sum()

TransactionId                 0
UserId                        0
VisitYear                     0
VisitMonth                    0
VisitModeId                   0
AttractionId                  0
Rating                        0
VisitMode                     0
AttractionCityId              0
AttractionTypeId              0
Attraction                    0
AttractionAddress             0
AttractionType                0
ContenentId                   0
RegionId                      0
CountryId                     0
CityId                        0
CityName                      0
Country                       0
AverageRatingforAttraction    0
AveragrRatingbyUser           0
MostFreqAttractionType        0
number_of_visits              0
season                        0
dtype: int64

In [44]:
merged_df.duplicated().sum()

0

In [45]:
totalvisitsbyuser=merged_df.groupby('UserId').size().reset_index(name='TotalVisitsByUser')
merged_df=merged_df.merge(totalvisitsbyuser,on='UserId',how='left')

merged_df.head()

,TransactionId,UserId,VisitYear,VisitMonth,VisitModeId,AttractionId,Rating,VisitMode,AttractionCityId,AttractionTypeId,...,CountryId,CityId,CityName,Country,AverageRatingforAttraction,AveragrRatingbyUser,MostFreqAttractionType,number_of_visits,season,TotalVisitsByUser
0,3,70456,2022,10,2,640,5,Couples,1,63,...,163.0,4341.0,Guildford,Australia,4.26703,5.0,63,13197,Monsoon,1
1,8,7567,2022,10,4,640,5,Friends,1,63,...,48.0,464.0,Ontario,Canada,4.26703,5.0,63,13197,Monsoon,1
2,9,79069,2022,10,3,640,5,Family,1,63,...,54.0,774.0,Brazil,United States,4.26703,5.0,63,13197,Monsoon,1
3,10,31019,2022,10,3,640,3,Family,1,63,...,135.0,583.0,Zurich,Canada,4.26703,3.0,63,13197,Monsoon,2
4,15,43611,2022,10,2,640,3,Couples,1,63,...,163.0,1396.0,Manchester,United States,4.26703,3.0,63,13197,Monsoon,3

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

# getting dummy variable for season clumn
merged_df = pd.get_dummies(merged_df, columns=['season'])
merged_df.to_csv("RaitingPredictorInputs.csv",index=False)

In [47]:
#definig input & output variables
x=merged_df[['UserId','AttractionId','AttractionTypeId','CityId','CountryId','RegionId','ContenentId','VisitModeId','AverageRatingforAttraction','AveragrRatingbyUser','MostFreqAttractionType','number_of_visits','season_Summer','season_Monsoon','season_Winter','season_Spring','TotalVisitsByUser']]
y=merged_df['Rating']

#Splitting Training & testing Data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=50)

#model training
model=DecisionTreeRegressor()
model.fit(x_train,y_train)

#Making Prediction on Training Data
y_train_pred=model.predict(x_train)
#Evalvuatong the model performance on Training Data
mse_train=metrics.mean_squared_error(y_train,y_train_pred)
r2_train=metrics.r2_score(y_train,y_train_pred)
rmse_train=metrics.root_mean_squared_error(y_train,y_train_pred)


#Making Predictions on Testing Data
y_test_pred=model.predict(x_test)
#evalvuating the model performance on Testing data
mse_test=metrics.mean_squared_error(y_test,y_test_pred)
r2_test=metrics.r2_score(y_test,y_test_pred)
rmse_test=metrics.root_mean_squared_error(y_test,y_test_pred)

print(f"Training Means Squared Error:{mse_train}")
print(f"Training R2Score:{r2_train}")
print(f"Training Root Mean Squared Error:{rmse_train}")

print(f"Testing Means Squared Error:{mse_test}")
print(f"Testing R2Score:{r2_test}")
print(f"Testing Root Mean Squared Error:{rmse_test}")

Training Means Squared Error:0.03413867319784192
Training R2Score:0.9640054395775108
Training Root Mean Squared Error:0.18476653700776532
Testing Means Squared Error:0.4828580794646039
Testing R2Score:0.472943693652096
Testing Root Mean Squared Error:0.6948799029074045

In [47]:
import xgboost as xgb

#Splitting Training & testing Data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=50)

# Create XD Matrix
dtrain = xgb.DMatrix(x_train, label=y_train)
dtest = xgb.DMatrix(x_test, label=y_test)

#Defining Parameters for XGBoost
params = {
    'objective': 'reg:squarederror',
    'max_depth': 6,
    'eta': 0.1,
    'subsample': 0.8,
    'colsample_bytree': 0.8
}

#model training
num_rounds = 50
bst = xgb.train(params, dtrain, num_rounds)


#Making Prediction on Training Data
y_train_pred=bst.predict(dtrain)
#Evalvuatong the model performance on Training Data
mse_train=metrics.mean_squared_error(y_train,y_train_pred)
r2_train=metrics.r2_score(y_train,y_train_pred)
rmse_train=metrics.root_mean_squared_error(y_train,y_train_pred)


#Making Predictions on Testing Data
y_test_pred=bst.predict(dtest)
#evalvuating the model performance on Testing data
mse_test=metrics.mean_squared_error(y_test,y_test_pred)
r2_test=metrics.r2_score(y_test,y_test_pred)
rmse_test=metrics.root_mean_squared_error(y_test,y_test_pred)

print(f"Training Means Squared Error:{mse_train}")
print(f"Training R2Score:{r2_train}")
print(f"Training Root Mean Squared Error:{rmse_train}")

print(f"Testing Means Squared Error:{mse_test}")
print(f"Testing R2Score:{r2_test}")
print(f"Testing Root Mean Squared Error:{rmse_test}")

Training Means Squared Error:0.22418926656246185
Training R2Score:0.763623058795929
Training Root Mean Squared Error:0.4734863042831421
Testing Means Squared Error:0.22860777378082275
Testing R2Score:0.7504667043685913
Testing Root Mean Squared Error:0.47812944650650024

In [48]:
# Hyperparameter Tuning 
import joblib
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor

param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5]
}

grid_search = GridSearchCV(estimator=GradientBoostingRegressor(random_state=50), param_grid=param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(x_train, y_train)

best_model = grid_search.best_estimator_

best_model.fit(x_train,y_train)

#Making Prediction on Training Data
y_train_pred=best_model.predict(x_train)
#Evalvuatong the model performance on Training Data
mse_train=metrics.mean_squared_error(y_train,y_train_pred)
r2_train=metrics.r2_score(y_train,y_train_pred)
rmse_train=metrics.root_mean_squared_error(y_train,y_train_pred)


#Making Predictions on Testing Data
y_test_pred=best_model.predict(x_test)
#evalvuating the model performance on Testing data
mse_test=metrics.mean_squared_error(y_test,y_test_pred)
r2_test=metrics.r2_score(y_test,y_test_pred)
rmse_test=metrics.root_mean_squared_error(y_test,y_test_pred)

print(f"Training Means Squared Error:{mse_train}")
print(f"Training R2Score:{r2_train}")
print(f"Training Root Mean Squared Error:{rmse_train}")

print(f"Testing Means Squared Error:{mse_test}")
print(f"Testing R2Score:{r2_test}")
print(f"Testing Root Mean Squared Error:{rmse_test}")

joblib.dump(best_model,'ratingpredictor.pkl')

Training Means Squared Error:0.2356812880865882
Training R2Score:0.7515063249435526
Training Root Mean Squared Error:0.48547017219041194
Testing Means Squared Error:0.22476179080369246
Testing R2Score:0.7546647259159751
Testing Root Mean Squared Error:0.47409048799115605

['ratingpredictor.pkl']

In [50]:
#checking userid
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52922 entries, 0 to 52921
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TransactionId               52922 non-null  int64
 1   UserId                      52922 non-null  int64
 2   VisitYear                   52922 non-null  int64
 3   VisitMonth                  52922 non-null  int64
 4   VisitModeId                 52922 non-null  int64
 5   AttractionId                52922 non-null  int64
 6   Rating                      52922 non-null  int64
 7   VisitMode                   52922 non-null  object
 8   AttractionCityId            52922 non-null  int64
 9   AttractionTypeId            52922 non-null  int64
 10  Attraction                  52922 non-null  object
 11  AttractionAddress           52922 non-null  object
 12  AttractionType              52922 non-null  object
 13  ContenentId                 52922 non-null  float64
 14  RegionId                    52922 non-null  float64
 15  CountryId                   52922 non-null  float64
 16  CityId                      52922 non-null  float64
 17  CityName                    52922 non-null  object
 18  Country                     52922 non-null  object
 19  AverageRatingforAttraction  52922 non-null  float64
 20  AveragrRatingbyUser         52922 non-null  float64
 21  MostFreqAttractionType      52922 non-null  int64
 22  number_of_visits            52922 non-null  int64
 23  TotalVisitsByUser           52922 non-null  int64
 24  season_Monsoon              52922 non-null  bool
 25  season_Spring               52922 non-null  bool
 26  season_Summer               52922 non-null  bool
 27  season_Winter               52922 non-null  bool
dtypes: bool(4), float64(6), int64(12), object(6)
memory usage: 9.9+ MB

In [47]:
#ML Model to predict the VisitMode
import requests
from math import radians, sin, cos, sqrt, atan2
from sklearn.ensemble import RandomForestClassifier
#additional feature to find previousVisitmodefor user

previousvisitmodebyuser=merged_df.groupby('UserId')['VisitModeId'].apply(lambda x: x.mode()[0]).reset_index()
previousvisitmodebyuser.columns=['UserId','PreviousVisitModebyUser']
visitmode_df=merged_df.merge(previousvisitmodebyuser,on='UserId',how='left')

#additional feature to find the previous visit modes for a attraction
previousvisitmodeforattraction=visitmode_df.groupby('AttractionId')['VisitModeId'].apply(lambda x:x.mode()[0]).reset_index()
previousvisitmodeforattraction.columns=['AttractionId','previousvisitmodeforattraction']
visitmode_df=visitmode_df.merge(previousvisitmodeforattraction,on='AttractionId',how='left')


#Additional Feature Based on Visit Year & Visit Month
def check_vacation(month):
    if month in [4,5,11,12]:
        return True
    else:
        return False
    
visitmode_df['IsVacationTime']=visitmode_df['VisitMonth'].apply(check_vacation)
visitmode_df.to_csv("visitmode_csv",index=False)

#Assisgning Input & Output variables
visitmode_x=visitmode_df[['UserId','AttractionId','AttractionTypeId','AttractionCityId','CityId','IsVacationTime','PreviousVisitModebyUser','previousvisitmodeforattraction','number_of_visits','season_Summer','season_Monsoon','season_Winter','season_Spring','Rating','AverageRatingforAttraction']]
visitmode_y=visitmode_df['VisitMode']

#Spliting the training and testing data

visitmode_x_train,visitmode_x_test,visitmode_y_train,visitmode_y_test=train_test_split(visitmode_x,visitmode_y,test_size=0.2,random_state=40)

In [52]:
#Model Building & Training

model1_visitmode=RandomForestClassifier(n_estimators=50,random_state=40)
model1_visitmode.fit(visitmode_x_train,visitmode_y_train)

#Predicting Vales on Training Dataset
visitmode_y_trainpred=model1_visitmode.predict(visitmode_x_train)
# Checking the performance on Training Dataset
accuracy_train=metrics.accuracy_score(visitmode_y_trainpred,visitmode_y_train)
recall_train=metrics.recall_score(visitmode_y_trainpred,visitmode_y_train,average='macro')
f1score_train=metrics.f1_score(visitmode_y_trainpred,visitmode_y_train,average='macro')

print("Training Accuracy:",accuracy_train)
print("Training Recall:",recall_train)
print("Training F1Score:",f1score_train)

#Predicting Vales on Testing Dataset
visitmode_y_testpred=model1_visitmode.predict(visitmode_x_test)
# Checking the performance on Training Dataset
accuracy_test=metrics.accuracy_score(visitmode_y_testpred,visitmode_y_test)
recall_test=metrics.recall_score(visitmode_y_testpred,visitmode_y_test,average='macro')
f1score_test=metrics.f1_score(visitmode_y_testpred,visitmode_y_test,average='macro')

print("Testing Accuracy:",accuracy_test)
print("Testing Recall:",recall_test)
print("Testing F1Score:",f1score_test)

Training Accuracy: 0.9921817795309068
Training Recall: 0.989806935204873
Training F1Score: 0.9882582095284596
Testing Accuracy: 0.9021256495040151
Testing Recall: 0.8916771332092219
Testing F1Score: 0.8785815643259431

In [48]:
# Define the parameter grid
import joblib
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [100],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [10, 20, 30, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# Initialize the RandomForestClassifier
rf = RandomForestClassifier()

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, 
                           cv=5, n_jobs=-1, verbose=2)

# Fit the model
grid_search.fit(visitmode_x_train,visitmode_y_train)

# Use the best model to make predictions
best_model_vm = grid_search.best_estimator_
visitmode_y_trainpred = best_model_vm.predict(visitmode_x_train)
visitmode_y_testpred = best_model_vm.predict(visitmode_x_test)


accuracy_train=metrics.accuracy_score(visitmode_y_trainpred,visitmode_y_train)
recall_train=metrics.recall_score(visitmode_y_trainpred,visitmode_y_train,average='macro')
f1score_train=metrics.f1_score(visitmode_y_trainpred,visitmode_y_train,average='macro')

print("Training Accuracy:",accuracy_train)
print("Training Recall:",recall_train)
print("Training F1Score:",f1score_train)


# Checking the performance on Training Dataset
accuracy_test=metrics.accuracy_score(visitmode_y_testpred,visitmode_y_test)
recall_test=metrics.recall_score(visitmode_y_testpred,visitmode_y_test,average='macro')
f1score_test=metrics.f1_score(visitmode_y_testpred,visitmode_y_test,average='macro')

print("Testing Accuracy:",accuracy_test)
print("Testing Recall:",recall_test)
print("Testing F1Score:",f1score_test)

joblib.dump(best_model_vm,'visitmodepredictor.pkl')

Fitting 5 folds for each of 216 candidates, totalling 1080 fits

c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
360 fits failed out of a total of 1080.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
230 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
130 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\SESA742087\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.91255876 0.91206274 0.91210991
 0.9123226  0.91286574 0.9129838  0.90920463 0.91265319 0.91135415
 0.9131492  0.91059822 0.91144855 0.91303114 0.91211003 0.91055092
 0.91251148 0.90927537 0.90828349        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.90830719 0.91388146 0.91456642 0.91378696 0.91411763 0.91463729
 0.9140468  0.91362163 0.91395229 0.90828354 0.91364526 0.91513332
 0.91444832 0.91409399 0.91475538 0.9137397  0.91352713 0.91336179
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.90509485 0.9131256  0.91468453
 0.91459005 0.91442471 0.91444832 0.91364522 0.91336181 0.91340903
 0.90547275 0.91362167 0.91449557 0.91428296 0.9145428  0.91473176
 0.91392866 0.91343264 0.91352711        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.90551996 0.91312561 0.91496798 0.9141885  0.91442472 0.91473178
 0.91329091 0.91355074 0.91366885 0.90528379 0.9134799  0.91499159
 0.91433022 0.91456641 0.9146609  0.91366883 0.91345628 0.91388146
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.91246425 0.91133044 0.91244054
 0.91265325 0.91125952 0.91116514 0.91201556 0.91097634 0.91170837
 0.91378693 0.91090539 0.90849598 0.91350353 0.9109997  0.90998402
 0.91234608 0.91031483 0.91192089        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.89921345 0.90804739 0.91307838 0.91177926 0.91244062 0.91437748
 0.91383417 0.91369248 0.91395228 0.89937879 0.90776391 0.91298393
 0.91173202 0.91234614 0.91404679 0.91381057 0.91414125 0.91402314
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.89167867 0.90464605 0.91236979
 0.91017309 0.91097618 0.91395231 0.9141885  0.91366886 0.91392866
 0.89156059 0.90457521 0.912606   0.90955898 0.91111789 0.91399956
 0.91357435 0.91373971 0.91421212        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.89151333 0.90445712 0.91253512 0.91026757 0.91135409 0.91388148
 0.91397589 0.91381058 0.91428298 0.89104092 0.90431536 0.91241704
 0.91007862 0.9107872  0.91404681 0.91402316 0.91373969 0.91399953]
  warnings.warn(

Training Accuracy: 0.9211328152679689
Training Recall: 0.9052746702198624
Training F1Score: 0.8961186383589345
Testing Accuracy: 0.909872461029759
Testing Recall: 0.9052665274717897
Testing F1Score: 0.8907653225134313

['visitmodepredictor.pkl']

In [53]:
#Recomendation System
from kmodes.kmodes import KModes
from sklearn.preprocessing import StandardScaler

#Create additional features based on the provided list:

# Calculate additional features
visitmode_df['MostVisitedAttractionTypeByUser'] = visitmode_df.groupby('UserId')['AttractionTypeId'].transform(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
visitmode_df['MostVisitedAttractionByUsersFromSameCity'] = visitmode_df.groupby('CityId')['AttractionId'].transform(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
visitmode_df['MostVisitedAttractionTypeByUsersFromSameCity'] = visitmode_df.groupby('CityId')['AttractionTypeId'].transform(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
visitmode_df['MostVisitedAttractionByUsersFromSameCont'] = visitmode_df.groupby('CountryId')['AttractionId'].transform(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
visitmode_df['MostVisitedAttractionTypeByUsersFromSameCont'] = visitmode_df.groupby('CountryId')['AttractionTypeId'].transform(lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0])
visitmode_df['noofvisitsforAttractionEachMonth'] = visitmode_df.groupby(['AttractionId', 'VisitMonth'])['UserId'].transform('count')
visitmode_df['noofvisitsforAttractionTypeEachMonth'] = visitmode_df.groupby(['AttractionTypeId', 'VisitMonth'])['UserId'].transform('count')



# K-Modes Clustering
#Include the additional features in the clustering process:

# Select features for clustering
features = ['CityId', 'CountryId', 'VisitModeId', 'number_of_visits','season_Summer','season_Monsoon','season_Winter','season_Spring', 'IsVacationTime', 'AttractionTypeId',
            'MostVisitedAttractionTypeByUser', 'MostVisitedAttractionByUsersFromSameCity','MostVisitedAttractionTypeByUsersFromSameCity','MostVisitedAttractionByUsersFromSameCont',
            'MostVisitedAttractionTypeByUsersFromSameCont' ,'noofvisitsforAttractionEachMonth','noofvisitsforAttractionTypeEachMonth']
data_features = visitmode_df[features]
data_features.isnull().sum()

CityId                                          0
CountryId                                       0
VisitModeId                                     0
number_of_visits                                0
season_Summer                                   0
season_Monsoon                                  0
season_Winter                                   0
season_Spring                                   0
IsVacationTime                                  0
AttractionTypeId                                0
MostVisitedAttractionTypeByUser                 0
MostVisitedAttractionByUsersFromSameCity        0
MostVisitedAttractionTypeByUsersFromSameCity    0
MostVisitedAttractionByUsersFromSameCont        0
MostVisitedAttractionTypeByUsersFromSameCont    0
noofvisitsforAttractionEachMonth                0
noofvisitsforAttractionTypeEachMonth            0
dtype: int64

In [54]:
# Preprocess the data (e.g., encoding categorical variables, scaling)
#data_features = pd.get_dummies(data_features)
scaler = StandardScaler()
data_features_scaled = scaler.fit_transform(data_features)

# Apply K-means clustering
kmodes = KModes(n_clusters=5, init='Huang', n_init=5, verbose=1)
visitmode_df['Cluster'] = kmodes.fit_predict(data_features_scaled)
visitmode_df.to_csv("Recomendationsystem")

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 15143, cost: 416527.0
Run 1, iteration: 2/100, moves: 5056, cost: 413437.0
Run 1, iteration: 3/100, moves: 886, cost: 413340.0
Run 1, iteration: 4/100, moves: 11, cost: 413340.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 20536, cost: 418472.0
Run 2, iteration: 2/100, moves: 3859, cost: 418421.0
Run 2, iteration: 3/100, moves: 9, cost: 418421.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 18818, cost: 417884.0
Run 3, iteration: 2/100, moves: 2995, cost: 417766.0
Run 3, iteration: 3/100, moves: 121, cost: 417766.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 17241, cost: 410325.0
Run 4, iteration: 2/100, moves: 4036, cost: 408948.0
Run 4, iteration: 3/100, moves: 126, cost: 408948.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 14030, cost: 418564.0
Run 5, iteration: 2/100, moves: 7854, cost: 416955.0
Run 5, iteration: 3/100, moves: 1905, cost: 416955.0
Best run was number 4

In [ ]:
#Generate recommendations for a user based on their cluster and predicted ratings:

# Function to get recommendations for a user based on cluster
def get_cluster_recommendations(user_id, model, data, top_n=10):
    user_cluster = data[data['UserId'] == user_id]['Cluster'].values[0]
    similar_users = data[data['Cluster'] == user_cluster]['UserId'].unique()
    all_attractions = data['AttractionId'].unique()
    user_attractions = data[data['UserId'] == user_id]['AttractionId'].unique()
    recommendations = []
    
    for attraction_id in all_attractions:
        if attraction_id not in user_attractions:
            est_rating = model.predict(user_id, attraction_id).est
            recommendations.append((attraction_id, est_rating))
    
    recommendations.sort(key=lambda x: x[1], reverse=True)
    top_recommendations = [attraction_id for attraction_id, rating in recommendations[:top_n]]
    return top_recommendations